<mat-toolbar>
    <mat-toolbar-row>
      <span>
       <a routerLink="home">
        <mat-icon aria-hidden="false" aria-label="menu">
            RK
        </mat-icon>
       </a> 
      </span>
      <span class="spacer"></span>
  
      <div data-test="menu">
        <button mat-button routerLink="ieee">IEEE</button>
        <button mat-button routerLink="about">About</button>
        <button mat-button routerLink="contact">Contact</button>
      </div>
    </mat-toolbar-row>
    
</mat-toolbar>